# environment
ENVIRONMENT=development

# host
PORT=:9000

# postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=simars
POSTGRES_TIMEZONE=Asia/Jakarta

# jwt
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=
REFRESH_TOKEN_AGE=
